<ion-header>
  <ion-toolbar>
    <ion-title>mapa</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="map_html"></div>

  <ion-card class="comuna-card" *ngIf="usuario?.tip_user === 'Conductor'">
    <ion-card-header>
      <ion-card-title>Detalles del viaje</ion-card-title>
    </ion-card-header>
    
    <ion-card-content>
      
      <ion-item>
        <ion-icon slot="start" name="location"></ion-icon>
        <ion-input type="text" placeholder="Ingrese punto de partida"></ion-input>
      </ion-item>


      <ion-item>
        <ion-icon slot="start" name="location"></ion-icon>
        <ion-input type="text" placeholder="Ingrese comuna de destino"></ion-input>
      </ion-item>
      
      
      <ion-item>
        <ion-icon slot="start" name="time"></ion-icon>
        <ion-label>Tiempo estimado: {{tiempoMinutos}} minutos</ion-label>
      </ion-item>

      
      <ion-item>
        <ion-icon slot="start" name="cash"></ion-icon>
        <ion-label>Costo estimado: {{costoTotal | currency:'CLP'}}</ion-label>
      </ion-item>

      
      <ion-button class="confirmar-destino" color="dark" expand="block" (click)="confirmarViaje()">Confirmar Viaje</ion-button>
    </ion-card-content>
  </ion-card>
 
  <style>
    #map_html {
      height: 100%;
    }

    .comuna-card {
      position: absolute;
      bottom: 20px;
      left: 10px;
      right: 10px;
      border-radius: 10px;
      z-index: 1000;
    }
 
    .confirmar-destino {
      margin-top: 10px;
    }
  </style>
</ion-content>