ion-content::part(background){

    background: #272727;

}

ion-header {
    display: none;
  }

.labellink{

    padding-left: 35%;
    padding-right: 30%;

}

ion-item {
    --padding-start: 0;
  }
  
  ion-label {
    font-size: 15px; 
    color: #a1a1a1;
    text-align: left; 
  }
  
  ion-radio {
    margin-left: 10px; 
  }
  
  ion-radio-group {
    display: flex;
    flex-direction: column;
  }

