<ion-header>
  <ion-toolbar>
    <ion-title>administrador</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-content>
      <form>
        <br>
        <ion-input formControlName="nom_usuario" type="text" fill="outline" label="Nombre de usuario" labelPlacement="floating"></ion-input>
        <br>
        <ion-input formControlName="contraseña" type="password" fill="outline" label="Contraseña" labelPlacement="floating"></ion-input>
        <br>
        <ion-input formControlName="correo" type="email" fill="outline" label="Correo" labelPlacement="floating"></ion-input>
        <br>
        <ion-input formControlName="rut" type="text" fill="outline" label="Rut" labelPlacement="floating"></ion-input>
        <br>
        <ion-input formControlName="fec_nacimiento" type="date" fill="outline" label="Fecha de nacimiento" labelPlacement="floating"></ion-input>
        <br>
        <ion-select formControlName="genero" fill="outline" label="Genero" labelPlacement="floating">
          <ion-select-option value="masculino">Masculino</ion-select-option>
          <ion-select-option value="femenino">Femenino</ion-select-option>
          <ion-select-option value="no-binario">No-binario</ion-select-option>
          <ion-select-option value="otro">Otro</ion-select-option>
        </ion-select>
        <br>
        <br>
        <ion-button type="submit" color="dark" expand="block"> Agregar </ion-button>
        <br>
        <ion-button type="submit" color="dark" expand="block"> Eliminar </ion-button>
        <br>
        <ion-button type="submit" color="dark" expand="block"> Modificar </ion-button>
        <br>
      </form>
    </ion-card-content>
  </ion-card>
  
</ion-content>
