ion-header {
    display: none;
}

ion-content::part(background){

    background: #0e0e0e;
  
}

ion-avatar {
    --border-radius: 4px;
}

/*ion-icon{

  display: block;
  padding-left: 10%;
  padding-top: 10%;
  font-size: 80px;

}

.btn_edit{

    width: 45%;
    padding-left: 10%;

}

}*/