<ion-header>
  <ion-toolbar>
    <ion-title>error404</ion-title>
  </ion-toolbar>
</ion-header>
<br>
<br>
<br>
<br>
<br>
<br>
<ion-content>
      <ion-card>
          <ion-card-title>
              Página no disponible
          </ion-card-title>
          <br>
          <br>
          <ion-icon name="skull-outline"></ion-icon>
          <br>
          <br>
          <ion-card-content class="parra">
              La página que buscaste no existe o no se encuentra disponible, por favor intente en otro momento.
          </ion-card-content>
      </ion-card>
</ion-content>
