<ion-header>
  <ion-toolbar>
    <ion-title>listadoviaje</ion-title>
  </ion-toolbar>
</ion-header>
  
<ion-content class="ion-padding">
  <div *ngIf="viajes.length > 0; else noViajes">
    <div *ngFor="let viaje of viajes">
      <ion-button class="custom-button" expand="block" id="open-modal-{{ viaje.id }}" color="dark">
        <div class="button-content">
          <div class="left-section">
            <h2>{{ viaje.nombreConductor | titlecase}}</h2>
            <p>Ver detalles ➔</p>
          </div>
          <div class="right-section">
            <p>{{ viaje.fecha | date:'dd/MM/yyyy' }}</p>
          </div>
        </div>
      </ion-button>

      <ion-modal #modal trigger="open-modal-{{ viaje.id }}" [initialBreakpoint]="0.40" [breakpoints]="[0, 0.25, 0.5, 0.75]">
        <ng-template>
          <ion-content>
            <br>
            <ion-list>
              <ion-item>
                <ion-icon slot="start" name="person"></ion-icon>
                <ion-label>Conductor/a: {{ viaje.nombreConductor | titlecase}}</ion-label>
              </ion-item>
              <ion-item>
                <ion-icon slot="start" name="id-card"></ion-icon>
                <ion-label>Identificador Viaje: {{ viaje.id }}</ion-label>
              </ion-item> 
              <ion-item>
                <ion-icon slot="start" name="location"></ion-icon>
                <ion-label>Destino: {{ viaje.ubicacionDestino }}</ion-label>
              </ion-item>
              <ion-item>
                <ion-icon slot="start" name="map"></ion-icon>
                <ion-label>Distancia: {{ (viaje.distancia / 1000).toFixed(1) }} km</ion-label>
              </ion-item>
              <ion-item>
                <ion-icon slot="start" name="time"></ion-icon>
                <ion-label>Tiempo total: {{ viaje.tiempoEstimado }} minutos</ion-label>
              </ion-item>
              <ion-item>
                <ion-icon slot="start" name="cash"></ion-icon>
                <ion-label>Costo: {{ viaje.costoTotal | currency:'CLP' }}</ion-label>
              </ion-item>
            </ion-list>
          </ion-content>
        </ng-template>
      </ion-modal>
    </div>
  </div>

  <ng-template #noViajes>
    <p>No hay viajes finalizados.</p>
  </ng-template>
</ion-content>