<ion-header>
  <ion-toolbar>
    <ion-title>listadoviaje</ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content class="ion-padding">
  <div *ngIf="viajes.length && viajes[0].estado === 'Finalizado'">
    <ion-button class="custom-button" expand="block" id="open-modal" color="dark">
      <div class="button-content">
        <div class="left-section">
          <h2>{{ viajes[0].nombreConductor }}</h2>
          <p>Ver detalles ➔</p>
        </div>
        <div class="right-section">
          <p>{{ viajes[0].fecha | date:'dd/MM/yyyy' }}</p>
        </div>
      </div>
    </ion-button>

    <ion-modal #modal trigger="open-modal" [initialBreakpoint]="0.40" [breakpoints]="[0, 0.25, 0.5, 0.75]">
      <ng-template>
        <ion-content>
          <br>
          <ion-list>
            <ion-item>
              <ion-icon slot="start" name="person"></ion-icon>
              <ion-label>Conductor/a: {{ viajes[0].nombreConductor }}</ion-label>
            </ion-item>
            <ion-item>
              <ion-icon slot="start" name="location"></ion-icon>
              <ion-label>Destino: {{ viajes[0].ubicacionDestino }}</ion-label>
            </ion-item>
            <ion-item>
              <ion-icon slot="start" name="map"></ion-icon>
              <ion-label>Distancia: {{ (viajes[0].distancia / 1000).toFixed(1) }} km</ion-label>
            </ion-item>
            <ion-item>
              <ion-icon slot="start" name="time"></ion-icon>
              <ion-label>Tiempo Estimado: {{ viajes[0].tiempoEstimado }} minutos</ion-label>
            </ion-item>
            <ion-item>
              <ion-icon slot="start" name="cash"></ion-icon>
              <ion-label>Costo: {{ viajes[0].costoTotal | currency:'CLP' }}</ion-label>
            </ion-item> 
          </ion-list>
        </ion-content>
      </ng-template>
    </ion-modal>
  </div>
</ion-content>