<ion-header>
  <ion-toolbar>
    <ion-title>Huzu</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-img src="assets/huzu.png" style="display: block; margin: 0 auto; width: 50px; height: 50px; object-fit: cover; border-radius: 5px;"></ion-img>
    </ion-card-header>
      <ion-card-content >
          <br>
          <ion-input [(ngModel)]="nombre_user" type="text" fill="outline" label="Nombre de usuario" labelPlacement="floating"></ion-input>
          <br>
          <ion-input [(ngModel)]="contra_user" type="password" fill="outline" label="Contraseña" labelPlacement="floating"></ion-input>     
          <br>
          <br>
          <ion-button (click)="ingresarLogin()" color="dark" expand="block"> Ingresar </ion-button>   
      </ion-card-content>
  </ion-card>

  <ion-card>
    <br>
    <ion-label class="label1"><a routerLink="/registro">¿No tienes cuenta? Registrate aquí </a></ion-label>
    <br>
    <br>
  </ion-card>

  <ion-card>
    <br>
    <ion-label><a routerLink="/recuperar">¿Olvidaste tú contraseña?</a></ion-label>
    <br>
    <br>
  </ion-card>
</ion-content>
