ion-content::part(background){

    background: #272727;
    font-family: "Instagram Sans"
}

ion-header {
    display: none;
  }

ion-label{

    padding-left: 30%;
    padding-right: 20%;

}

.label1{

    padding-left: 25%;
    padding-right: auto;

}