<ion-header>
  <ion-toolbar>
    <ion-title>Términos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <ion-img src="assets/huzu.png"></ion-img>

    <div class="rectangulo">
      <style>
        .rectangulo {
          width: 100vw; 
          height: 70vh; 
          border-radius: 1% 10% 0 0;
          margin: 0; 
          display: block; 
          flex-direction: column;
          background-color: white;
          padding: 20px; 
          box-sizing: border-box; 
          overflow-y: auto;
        }

        .container {
          display: flex; 
          flex-direction: column;
          justify-content: flex-start; 
          align-items: stretch;
          width: 100%; 
          height: 100%;
          text-align: justify; 
        }

        .titulo {
          font-size: 24px; 
          font-weight: bold; 
          margin-bottom: 10px; 
        }

        .subtitulo {
          font-size: 16px; 
          margin-bottom: 30px; 
          color: gray; 
        }

        .texto {
          font-size: 14px; 
          margin-bottom: 10px; 
        }

        ion-input {
          --border-radius: 20px; 
          --padding-start: 10px; 
          --padding-end: 10px; 
          --background: white; 
        }
      </style>

      <div class="titulo">Términos y Condiciones de Uso</div>
      <div class="subtitulo">Por favor, lea atentamente estos términos antes de usar la aplicación Huzu.</div>

      <div class="texto">
        Al registrarse y utilizar la aplicación Huzu, usted acepta automáticamente los términos y condiciones establecidos a continuación. 
      </div>

      <div class="texto">
        <strong>1. Cancelación de Viajes.</strong>
        <br>
        <br>
        1.1. El conductor tiene el derecho de cancelar un viaje en los siguientes casos: si el usuario se comporta de forma inadecuada, cambia el destino una vez que el viaje ha comenzado, o se niega a pagar el viaje. Asimismo, el usuario podrá cancelar el viaje si el conductor se dirige hacia una comuna no estipulada en el trayecto, si no desea completar el viaje, o en situaciones que estén relacionadas con la ejecución del viaje.<br>
        <br>
        1.2. En caso de que se cancele el viaje por cualquiera de las razones mencionadas anteriormente, el usuario será reembolsado en su totalidad y el conductor será penalizado en su siguiente viaje. Lo mismo se aplicará al conductor si decide cancelar el viaje por razones justificadas.
      </div>

      <br>

      <div class="texto">
        <strong>2. Registro de Usuario.</strong>
        <br>
        <br>
        2.1. Para registrarse, el usuario deberá proporcionar su RUT, correo institucional, nombre de usuario, contraseña, fecha de nacimiento (debe ser mayor de 18 años), género y, en caso de ser conductor, deberá registrar la patente, la cantidad de asientos y el modelo de vehículo.<br>
        <br>
        2.2. La información personal proporcionada será protegida de acuerdo a lo estipulado por la ley chilena.<br>
        <br>
        2.3. En caso de que se detecten violaciones a estos términos, se notificará a la institución correspondiente y se bloqueará la cuenta del usuario por un período indefinido, con derecho a apelación en caso de que el baneo sea considerado incorrecto.
      </div>

      <br>

      <div class="texto">
        <strong>3. Sanciones y Bloqueo de Cuentas.</strong><br>
        <br>
        3.1. Las sanciones aplicables incluyen el bloqueo temporal o definitivo de cuentas, según la gravedad de la infracción cometida.<br>
        <br>
        3.2. Las sanciones serán evaluadas caso por caso, asegurando el derecho del usuario a ser escuchado.
      </div>

      <br>

      <div class="texto">
        <strong>4. Responsabilidad del Usuario.</strong><br>
        <br>
        4.1. El usuario se compromete a utilizar la aplicación de manera responsable, respetando las normas de convivencia y seguridad durante el uso de los servicios ofrecidos por Huzu.<br>
        <br>
        4.2. En caso de incumplimiento de estas normas, el usuario será responsable de cualquier daño o perjuicio causado a otros usuarios o a la plataforma.
      </div>

      <br>

      <div class="texto">
        <strong>5. Modificaciones a los Términos.</strong><br>
        <br>
        5.1. Huzu se reserva el derecho de modificar estos términos y condiciones en cualquier momento. Las modificaciones serán notificadas a los usuarios a través de la aplicación y se considerarán aceptadas si el usuario continúa utilizando la plataforma después de la notificación.
      </div>

      <br>

      <div class="texto">
        <strong>6. Legislación Aplicable.</strong><br>
        <br>
        6.1. Estos términos y condiciones se rigen por las leyes de la República de Chile. Cualquier controversia que surja en relación con estos términos será sometida a los tribunales de justicia competentes.
      </div>

      <br>

      <div class="texto">
        <strong>7. Contacto.</strong><br>
        <br>
        Para consultas adicionales sobre estos Términos, el Usuario puede dirigirse a nuestro equipo de atención al cliente.
      </div>

      <br>

      <div class="texto">
        <strong>8. Propiedad Intelectual.</strong><br>
        <br>
        8.1. Todos los derechos de propiedad intelectual e industrial sobre la aplicación Huzu, incluyendo su diseño, contenido y funcionalidad, pertenecen a Huzu o a sus licenciantes.<br>
        <br>
        8.2. Queda prohibida la reproducción, distribución, modificación o uso no autorizado de la aplicación y su contenido sin el consentimiento previo por escrito de Huzu.
      </div>

      <br>

      <div class="texto">
        <strong>9. Limitación de Responsabilidad.</strong><br>
        <br>
        9.1. Huzu no será responsable por daños indirectos, consecuentes o especiales, incluyendo, pero no limitándose a, pérdida de beneficios, que surjan del uso o la imposibilidad de uso de la aplicación.<br>
        <br>
        9.2. Huzu no garantiza que la aplicación esté libre de errores o interrupciones y no será responsable de cualquier daño que pueda resultar de la falta de disponibilidad de la aplicación.
      </div>

      <br>

      <div class="texto">
        <strong>10. Aceptación de los Términos.</strong><br>
        <br>
        10.1. El uso continuado de la aplicación Huzu se considerará como aceptación de estos términos y condiciones, así como de cualquier modificación futura que se realice.<br>
        <br>
        10.2. Si el usuario no está de acuerdo con estos términos, deberá dejar de utilizar la aplicación inmediatamente.
      </div>
    </div>
  </div>
</ion-content>