<ion-header >
  <ion-toolbar>
    <ion-title>recuperar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <br>
  <br>
  
  <ion-card>
      <ion-card-content>
        <form [formGroup]="recuperar">
        <br>
        <br>
        <ion-card-title>¿Problemas con el inicio de sesión?</ion-card-title>
        <br>
        <ion-icon name="sad-sharp"></ion-icon>
        <br>
        <ion-card-content class="parrafo">
          Ingresa tu correo electronico y te enviaremos un enlace con los pasos necesarios para recuperar tu cuenta.
        </ion-card-content>
        <br>
        <ion-input formControlName="email" type="email" fill="solid" label="Ingrese su correo" labelPlacement="floating"></ion-input>     
        <br>
        <br>
        <ion-button id="present-alert" color="dark" expand="block"> Ingresar </ion-button>
        <ion-alert trigger="present-alert" header="Alerta" message="Se ha enviado un enlace para recuperar su cuenta a su correo" [buttons]="alertButtons"></ion-alert>
      </form>
        <br>
        <br>
        <ion-label><a routerLink="/login">¿Ya tienes cuenta?</a></ion-label>
        <br>
        <br>
      </ion-card-content>
  </ion-card>
  
  <br>
  <br>
</ion-content>
