ion-header {
    display: none;
}

ion-slide {
    display: flex;
    justify-content: center; 
    align-items: center; 
    min-width: 400px;
    padding: 0; 
    margin: 0; 
}

.card1 {
    background-color: #65d865;
    color: white;
    text-align: left;
    width: 100%;
    height: 150px; 
    display: flex; 
    flex-direction: column;
    justify-content: space-between; 
    padding: 10px; 
}

.card2 {
    background-color: #6d65d8; 
    color: white;
    text-align: left;
    width: 100%;
    height: 150px;
    display: flex; 
    flex-direction: column; 
    justify-content: space-between; 
    padding: 10px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    align-items: center; 
    width: 100%;
    height: 100%;
    text-align: center; 
}

.logo {
    position: absolute; 
    top: 20px; 
    left: 20px; 
    height: 6%; 
}

.rectangulo {
    width: 100vw;
    height: auto; 
    border-radius: 1% 10% 0 0;
    margin-top: 60px; 
    display: block;
    flex-direction: column;
    background-color: white;
    padding: 20px; 
    box-sizing: border-box;
    overflow-y: auto;
}

.titulo {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: left;
}

.subtitulo {
    font-size: 16px;
    margin-bottom: 30px;
    color: gray;
}

ion-img {
    display: block;
    margin-bottom: 20px;
    z-index: 1000;
}

ion-input {
    --border-radius: 20px;
    --padding-start: 10px;
    --padding-end: 10px;
    --background: white;
}

ion-slides {
    height: auto; 
    width: 100%;
    display: flex; 
    flex-direction: row;
    --padding-top: 0;
    --padding-bottom: 0; 
}

ion-slides .swiper-pagination {
    display: none !important; 
}

.start-journey {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }

  .start-journey ion-label {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    color: #333;
  }

  .start-journey h2 {
    margin-right: 10px;
  }

  .arrow-right {
    font-size: 2rem;
    
  }

  .opiniones{
    display: block;
    text-align: center;
    padding-top: 10%;
  }
