ion-header {
    display: none;
}

ion-content::part(background){

    background: #0e0e0e;
  
}ion-label{

    display: block;
    text-align: center;
    width: 100%;
    font-size: larger;
    color: white;

}
