<ion-header>
  <ion-toolbar>
    <ion-title>Viajes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <div class="rectangulo">
      <!--
      <div class="mensajeInicio">
        <ion-card class="mensaje"
          [ngClass]="{ 
            'animate__animated': true,
            'animate__bounceIn': animacion === 'entrar',
            'animate__bounceOut': animacion === 'salir'
          }"
          [style.animationDuration]="'2s'"
          (animationend)="animacionSalir()">
          {{ mensajeBienvenida }} {{ usuario?.nom_usuario | titlecase }}
        </ion-card>
      </div>
       -->
      <ng-container *ngIf="viajes.length > 0">
        <ion-card class="viaje-card" *ngFor="let viaje of viajes">
          <ion-card-header>
            <ion-card-title>Viaje: </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-item> 
              <ion-icon slot="start" name="person"></ion-icon>
              <ion-label>Conductor: {{ viaje.nombreConductor }}</ion-label>
            </ion-item>
            <ion-item>
              <ion-icon slot="start" name="navigate"></ion-icon>
              <ion-label>Ubicación Actual: {{ viaje.ubicacionActual }}</ion-label>
            </ion-item>
            <ion-item>
              <ion-icon slot="start" name="location"></ion-icon>
              <ion-label>Destino: {{ viaje.ubicacionDestino }}</ion-label>
            </ion-item>
            <ion-item>
              <ion-icon slot="start" name="map"></ion-icon>
              <ion-label>Distancia: {{ viaje.distancia }} metros</ion-label>
            </ion-item>
            <ion-item>
              <ion-icon slot="start" name="time"></ion-icon>
              <ion-label>Tiempo Estimado: {{ viaje.tiempoEstimado }} minutos</ion-label>
            </ion-item>
            <ion-item>
              <ion-icon slot="start" name="cash"></ion-icon>
              <ion-label>Costo: {{ viaje.costoTotal | currency:'CLP' }}</ion-label>
            </ion-item>
            <br>
            <ion-button (click)="irmapaUsuario()" *ngIf="usuario?.tip_user === 'Pasajero'" color="dark" expand="block">Tomar viaje</ion-button>
            <ion-button *ngIf="usuario?.tip_user === 'Conductor'" color="dark" expand="block" slot="start">Editar viaje</ion-button>
            <ion-button *ngIf="usuario?.tip_user === 'Conductor'" color="danger" expand="block" slot="end" (click)="cancelarViaje()">Cancelar viaje</ion-button>
          </ion-card-content>
        </ion-card>
      </ng-container>

      <ng-template #noViajes>
        <p>No hay viajes disponibles.</p>
      </ng-template>

      <ion-button *ngIf="usuario?.tip_user === 'Conductor'" (click)="irmapaConductor()" class="crear-viaje" color="dark" expand="block">Crear Viaje</ion-button>
    </div>
  </div>

</ion-content>

