ion-header {
    display: none;
}

ion-content::part(background){

    background: #ffffff;
  
}ion-label{

    display: block;
    text-align: center;
    width: 100%;
    font-size: larger;
    color: white;

}

.mensajeInicio{
    padding-top: 3%;
}

.mensaje{
    display: block;
    text-align: center;
    padding: 3%;
    font-size: 20px;
    background-color: #1c2120;
    color: #ffffff;
}
