<ion-header>
  <ion-toolbar>
    <ion-title>Viajes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div *ngIf="viajes.length > 0; else noViajes">
    <div *ngFor="let viaje of viajes">
      <ion-button class="custom-button" expand="block" id="open-modal-{{ viaje.id }}" color="dark">
        <div class="button-content">
          <div class="left-section">
            <h2>{{ viaje.ubicacionDestino }}</h2>
            <p>Ver detalles ➔</p>
          </div>
        </div>
      </ion-button>

      <ion-modal #modal trigger="open-modal-{{ viaje.id }}" [initialBreakpoint]="0.40" [breakpoints]="[0, 0.25, 0.5, 0.75]">
        <ng-template>
          <ion-content>
            <br>
            <ion-list>
              <ion-item>
                <ion-icon slot="start" name="person"></ion-icon>
                <ion-label>Conductor/a: {{ viaje.nombreConductor | titlecase}}</ion-label>
              </ion-item>
              <ion-item>
                <ion-icon slot="start" name="location"></ion-icon>
                <ion-label>Destino: {{ viaje.ubicacionDestino }}</ion-label>
              </ion-item>
              <ion-item>
                <ion-icon slot="start" name="map"></ion-icon>
                <ion-label>Distancia: {{ (viaje.distancia / 1000).toFixed(1) }} km</ion-label>
              </ion-item>
              <ion-item>
                <ion-icon slot="start" name="time"></ion-icon>
                <ion-label>Tiempo Estimado: {{ viaje.tiempoEstimado }} minutos</ion-label>
              </ion-item>
              <ion-item>
                <ion-icon slot="start" name="cash"></ion-icon>
                <ion-label>Costo: {{ viaje.costoTotal | currency:'CLP' }}</ion-label>
              </ion-item>
              <ion-item>
                <ion-icon slot="start" name="person"></ion-icon>
                <ion-label>Asientos Disponibles: {{ viaje.asientosDisponibles }}</ion-label>
              </ion-item>
            </ion-list>
            <br>
            <br>
            <div class="botones">
              <ion-button (click)="irmapaUsuario()" *ngIf="usuario?.tip_user === 'Pasajero'" color="dark" size="default" [disabled]="viaje.asientosDisponibles === 0">Tomar viaje</ion-button>
              <ion-button *ngIf="usuario?.tip_user === 'Conductor'" color="dark" size="default" (click)="verViaje()">Ver viaje</ion-button>
              <ion-button *ngIf="usuario?.tip_user === 'Administrador'" color="danger" size="default" (click)="eliminarviaje(viaje.id)">Eliminar viaje</ion-button>
              <ion-button *ngIf="usuario?.tip_user === 'Conductor'" color="danger" size="default" (click)="cancelarViaje()">Cancelar viaje</ion-button>
            </div>
          </ion-content>
        </ng-template>
      </ion-modal>
    </div>
  </div>

  <ng-template #noViajes>
    <p>No hay viajes disponibles.</p>
  </ng-template>

  <ion-button *ngIf="usuario?.tip_user === 'Conductor'" (click)="irmapaConductor()" class="crear-viaje" color="dark" expand="block">Crear Viaje</ion-button>
</ion-content>

